header.hat {
    position: fixed;
    width: 100%;
    background-color: #4E454F;
    height: 70px;

    box-shadow: 0 4px 105px 34px rgba(0, 0, 0, 0.25);
}

header.hat .header-logo{
    position: absolute;
    width: fit-content;
    display: flex;

    text-decoration: none;
}

header.hat .header-logo img{
    margin-left: 38px;
    margin-top: 14px;

    width: 94px;
    height: 94px;
    border: 2px solid #CB6BD6;
    border-radius: 90px;
    background-color: #4E454F;

}

header.hat .header-logo .name{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

    color: #CB6BD6;
    margin-left: 20px;
    margin-top: 25px;
    width: 200px;
}