.smooth-button {
    background-color: transparent; /* Green */
    border: 2px solid #CB6BD6;
    border-radius: 20px;
    color: #F5F5F5;

    padding: 10px 15px 10px 15px;
    text-align: center;
    text-decoration: none;
    display: block;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    font-family: 'Raleway', sans-serif;

    transition: .5s;
    background-image: linear-gradient(transparent 50%, #CB6BD6 50%);
    background-size: 200% 200%;
    background-repeat: no-repeat;
}

.smooth-button:hover {
    cursor: pointer;
    background-position: 0 100%;
}